.accordian {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 500px;
    background-color: rgb(186, 106, 106);
    margin: 100px auto;
    justify-self: center;
    align-items: center;
    gap: 20px;


    &__item {
        width: 50%;
        height: 50%;

        .title {
            color: rgb(182, 53, 53);
        }

    }
    
}